<nav class="navbar navbar-expand-sm navbar-light" id="navbarfontdeco">
  <a href="/" class="navbar-brand" id="navbarfontdeco">
    <img src="/images/LogoWhite.png" alt="" width="30" height="24" />
    El Paseo</a
  >
  <button
    id="side-menu-toggle"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarCollapse"
  >
    <span><i class="fas fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link <%= path === '/' ? 'active' : '' %>"
          href="/"
          id="navbarfontdeco"
          >Shop</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link <%= path === '/products' ? 'active' : '' %>"
          href="/products"
          id="navbarfontdeco"
          >Products</a
        >
      </li>
      <% if(isAuthenticated){ %>
      <li class="nav-item">
        <a
          class="nav-link <%= path === '/cart' ? 'active' : '' %>"
          href="/cart"
          id="navbarfontdeco"
          >Cart</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link <%= path === '/orders' ? 'active' : '' %>"
          href="/orders"
          id="navbarfontdeco"
          >Orders</a
        >
      </li>
      <% } %>
      <li class="nav-item">
        <a
          class="nav-link <%= path === '/farmers' ? 'active' : '' %>"
          href="/farmers"
          id="navbarfontdeco"
          >Farmers
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link <%= path === '/admin/add-farmer' ? 'active' : '' %>"
          href="/admin/add-farmer"
          id="navbarfontdeco"
          >Add Farmer
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link <%= path === '/admin/farmers' ? 'active' : '' %>"
          href="/admin/farmers"
          id="navbarfontdeco"
          >Admin Farmers
        </a>
      </li>
      <% if(isAuthenticated) { %>
      <li class="nav-item">
        <a
          class="nav-link <%= path === '/admin/add-product' ? 'active' : '' %>"
          href="/admin/add-product"
          id="navbarfontdeco"
          >Add Product
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link <%= path === '/admin/add-category' ? 'active' : '' %>"
          href="/admin/add-category"
          id="navbarfontdeco"
          >Add Category
        </a>
      </li>
      <% } %>
      <li class="nav-item">
        <a
          class="nav-link <%= path === '/admin/products' ? 'active' : '' %>"
          href="/admin/products"
          id="navbarfontdeco"
          >Admin Products
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link <%= path === '/admin/categories' ? 'active' : '' %>"
          href="/admin/categories"
          id="navbarfontdeco"
          >Admin Categories
        </a>
      </li>
    </ul>

    <% if( path==='/products' ) {%>
    <form class="form-inline mr-auto">
      <input type="text" class="form-control mr-2" placeholder="Search" />
      <button class="btn btn-primary">
        <i class="fas fa-search"></i> Search
      </button>
    </form>
    <% } %>

    <ul class="navbar-nav ml-auto">
      <% if(!isAuthenticated) { %>
      <li class="nav-item">
        <a
          class="nav-link <%= path === '/login' ? 'active' : '' %>"
          href="/login"
          id="navbarfontdeco"
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link <%= path === '/signup' ? 'active' : '' %>"
          href="/signup"
          id="navbarfontdeco"
          >Signup</a
        >
      </li>
      <% } else { %>
      <li class="nav-item">
        <form action="/logout" method="POST">
          <button type="submit" class="btn btn-outline-warning">Logout</button>
        </form>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
