<div class="backdrop"></div>
<header class="main-header">
  <a href="/" class="navbar-brand" id="navbarfontdeco">
    <img src="/images/LogoWhite.png" alt="" width="30"
      height="24" />
    El Paseo</a>
  <button id="side-menu-toggle">
    <span><i class="fas fa-bars"></i> Menu</span>
    <span class="navbar-toggler-icon"></span>
  </button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/' ? 'active' : '' %>"
          href="/">Shop</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/products' ? 'active' : '' %>"
          href="/products">Products</a>
      </li>
      <% if(isAuthenticated){ %>
        <li class="main-header__item">
          <a class="<%= path === '/cart' ? 'active' : '' %>"
            href="/cart">Cart</a>
        </li>

        <li class="main-header__item">
          <a class="<%= path === '/orders' ? 'active' : '' %>"
            href="/orders">Orders</a>
        </li>
        <% } %>
          <li class="main-header__item">
            <a class="<%= path === '/farmers' ? 'active' : '' %>"
              href="/farmers">Farmers
            </a>
          </li>
          <li class="main-header__item">
            <a class="<%= path === '/admin/add-farmer' ? 'active' : '' %>"
              href="/admin/add-farmer">Add Farmer
            </a>
          </li>
          <li class="main-header__item">
            <a class="<%= path === '/admin/farmers' ? 'active' : '' %>"
              href="/admin/farmers">Admin Farmers
            </a>
          </li>
          <% if(isAuthenticated) { %>
            <li class="main-header__item">
              <a class="<%= path === '/admin/add-product' ? 'active' : '' %>"
                href="/admin/add-product">Add Product
              </a>
            </li>
            <li class="main-header__item">
              <a class="<%= path === '/admin/add-category' ? 'active' : '' %>"
                href="/admin/add-category">Add Category
              </a>
            </li>
            <% } %>
              <li class="main-header__item">
                <a class="<%= path === '/admin/products' ? 'active' : '' %>"
                  href="/admin/products">Admin Products
                </a>
              </li>
              <li class="main-header__item">
                <a class="<%= path === '/admin/categories' ? 'active' : '' %>"
                  href="/admin/categories">Admin Categories
                </a>
              </li>
    </ul>

    <% if( path==='/products' ) {%>
      <form class="form-inline mr-auto">
        <input type="text" class="form-control mr-2"
          placeholder="Search" />
        <button class="btn btn-primary">
          <i class="fas fa-search"></i> Search
        </button>
      </form>
      <% } %>

        <ul class="main-header__item-list">
          <% if(!isAuthenticated) { %>
            <li class="main-header__item">
              <a class="<%= path === '/login' ? 'active' : '' %>"
                href="/login">Login</a>
            </li>
            <% } else { %>
              <li class="main-header__item">
                <form action="/logout" method="POST">
                  <button type="submit">Logout</button>
                </form>
              </li>
              <% } %>
        </ul>
  </nav>
</header>

<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <li class="mobile-nav__item">
      <a class="<%= path === '/' ? 'active' : '' %>"
        href="/">Shop</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/products' ? 'active' : '' %>"
        href="/products">Products</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/cart' ? 'active' : '' %>"
        href="/cart">Cart</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/orders' ? 'active' : '' %>"
        href="/orders">Orders</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/farmers' ? 'active' : '' %>"
        href="/farmers">Farmers
      </a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/admin/add-product' ? 'active' : '' %>"
        href="/admin/add-product">Add Product
      </a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/admin/products' ? 'active' : '' %>"
        href="/admin/products">Admin Products
      </a>
    </li>
  </ul>
</nav>