<nav class="navbar navbar-expand-sm navbar-light"
  id="navbarfontdeco">
  <a href="/" class="navbar-brand" id="navbarfontdeco">
    <img src="/images/LogoWhite.png" alt="" width="30"
      height="24" />
    El Paseo</a>
  <button id="side-menu-toggle" class="navbar-toggler"
    data-toggle="collapse" data-target="#navbarCollapse">
    <span><i class="fas fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link <%= path === '/' ? 'active' : '' %>"
          href="/" id="navbarfontdeco">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= path === '/products' ? 'active' : '' %>"
          href="/products" id="navbarfontdeco">Products</a>
      </li>
      <% if(isAuthenticated){ %>
        <li class="nav-item">
          <a class="nav-link <%= path === '/cart' ? 'active' : '' %>"
            href="/cart" id="navbarfontdeco">Cart</a>
        </li>

        <li class="nav-item">
          <a class="nav-link <%= path === '/orders' ? 'active' : '' %>"
            href="/orders" id="navbarfontdeco">Orders</a>
        </li>
        <% } %>
          <li class="nav-item">
            <a class="nav-link <%= path === '/farmers' ? 'active' : '' %>"
              href="/farmers" id="navbarfontdeco">Farmers
            </a>
          </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <div>
          <a class="nav-link" id="navbarfontdeco">Hi
            <%=username %>
          </a>
        </div>
      </li>
      <% if(!isAuthenticated) { %>
        <li class="nav-item">
          <a class="nav-link <%= path === '/login' ? 'active' : '' %>"
            href="/login" id="navbarfontdeco">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= path === '/signup' ? 'active' : '' %>"
            href="/signup" id="navbarfontdeco">Signup</a>
        </li>
        <% } else { %>
          <li class="nav-item">
            <form action="/logout" method="POST">
              <input type="hidden" name="_csrf"
                value=<%=csrfToken %> >
              <button type="submit"
                class="btn btn-outline-warning py-2">Logout</button>
            </form>
          </li>
          <% } %>

    </ul>
</nav>
</header>
</div>
</nav>