<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (products.length> 0) { %>
                    <ul>
                        <% products.forEach(product=> { %>
                            <li>
                                <div class="col-md-7">
                                    <img class="d-block w-100"
                                        src="<%= product.big_image_url %>"
                                        alt="<%= product.title %>">
                                </div>
                                <p>
                                    <%= product.title %>,
                                        Quantity:
                                        (
                                        <%= product.cart_item.quantity
                                            %>)
                                </p>
                                <div class="centered">
                                    <form
                                        action="/cart-delete-item"
                                        method="POST">
                                        <input type="hidden"
                                            value="<%= product.product_id %>"
                                            name="productId">
                                        <button class="btn"
                                            type="submit">Delete</button>
                                    </form>
                                </div>

                            </li>
                            <% }) %>
                    </ul>
                    <form action="/create-order"
                        method="POST">
                        <button type="submit"
                            class="btn">Order Now</button>
                    </form>
                    <% } else { %>
                        <h1>No Products in Cart!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>