<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="centered">
                <h1>
                    <%= product.item_name %>
                </h1>
                <hr>
                <div>
                    <img src="<%= product.item_image_url %>"
                        alt="<%= product.item_name %>">
                </div>
                <h2>
                    <%= product.price %>
                </h2>
                <p>
                    <%= product.short_description %>
                </p>
                <%- include('../includes/add-to-cart.ejs')
                    %>
            </main>
            <%- include('../includes/end.ejs') %>